:root {
  --size:140px;
}

@keyframes dashing-left {
  0% {
    left:-100%;
  }
  50% {
  }
  100% {
  }
}

@keyframes dashing-right {
  0% {
    right:-100%;
  }
  50% {
  }
  100% {
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2px;
  gap: 2px;
}

#container > span {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

#container>span>button {
  width:var(--size);
  height:var(--size);
  padding: 0px;  
}

#container>span>button:focus {
  outline: none;
  border: none; 
}

#player {
  font-weight: bold;
  font-size: x-large;
}
.inactive-tile:hover {
  background-color: black;
  z-index: 10;
  box-shadow: #880088 0px 0px 10px 5px;
  border: none;
  .cross {
    width:var(--size);
    height:var(--size);
    display: flexbox;
    position: relative;
    pointer-events: none;
  }
  .line1 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
    pointer-events: none;
  }
  
  .line2 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: -45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
    pointer-events: none;
  }
  
  .circle {
    width:calc(var(--size) - 16px);
    height:calc(var(--size) - 16px);
    border-radius: 50%;
    border:3px solid #0000ff;
    box-shadow: blue 0 0 10px;
    box-sizing: border-box;
    margin:auto;
    pointer-events: none;     
  }
}

.inactive-tile::after {
  outline: none;
  border:none;
}

.cross-tile {
  background-color: black;
  pointer-events: none;
  .cross {
    width:var(--size);
    height:var(--size);
    display: flexbox;
    position: relative;
  }
  
  .line1 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
  
  .line2 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: -45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
}

.circle-tile {
  background-color: black;
  pointer-events: none;
  .circle {
    width:calc(var(--size) - 16px);
    height:calc(var(--size) - 16px);
    border-radius: 50%;
    border:3px solid #0000ff;
    box-shadow: blue 0 0 10px;
    box-sizing: border-box;
    margin:auto;     
  }
}

#winner {
  position: absolute;
  overflow: hidden;
  top: auto;
  left: auto;
  z-index: 20;
  background-color: blueviolet;
  width:90%;
  max-width:600px;
  height:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  color: white;
  font-size: xx-large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-style:normal;
  transform: skew(-10deg);
  animation: dashing-left 1s 1 ease-out;
}

#winner > button {
  max-width: 200px;
  height:40px;
  padding: 2px 6px;
  display: flex;
  font-size: medium;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: none;
}

#winner > button:hover {
  background-color: #cc00dd;
  border:none;
  box-shadow: #550099 0px 0px 10px 5px;
  svg {
    animation: play-again-rotate .7s 1 linear;
  }
}

#winner > button > svg {
  width:22px;
  height:22px;
  fill: white;
}

@keyframes play-again-rotate {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: -180deg;
  }
  100% {
    rotate: -360deg;
  }
}

#winner > button > svg:hover {
  animation: play-again-rotate .7s 1 linear;
}

#winner-screen {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center
}

#winner::after {
  display: block;
  position: absolute;
  bottom:10px;
  left:30px;
  content: "";
  width:70%;
  height:15px;
  transform: skew(-40deg);
  background-color:#ff88ff;
  animation: dashing-left 1s 1 ease-out;
}
#winner::before {
  display: block;
  position: absolute;
  top:10px;
  right:30px;
  content: "";
  width:70%;
  height:15px;
  transform: skew(-40deg);
  background-color:#ff88ff;
  animation: dashing-right 1s 1 ease-out;
}