:root {
  --size:120px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2px;
  gap: 2px;
  border:2px solid black;
}

#container > span {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

#container>span>button {
  width:var(--size);
  height:var(--size);
  padding: 0px;  
}

#container>span>button:focus {
  outline: none;
  border: none; 
}

.inactive-tile:hover {
  background-color: black;
  box-shadow: yellow 0 0 10px;
  .cross {
    width:var(--size);
    height:var(--size);
    display: flexbox;
    position: relative;
  }
  
  .line1 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
  
  .line2 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: -45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
  
  .circle {
    width:calc(var(--size) - 16px);
    height:calc(var(--size) - 16px);
    border-radius: 50%;
    border:3px solid #0000ff;
    box-shadow: blue 0 0 10px;
    box-sizing: border-box;
    margin:auto;     
  }
}

.cross-tile {
  background-color: black;
  pointer-events: none;
  .cross {
    width:var(--size);
    height:var(--size);
    display: flexbox;
    position: relative;
  }
  
  .line1 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: 45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
  
  .line2 {
    width:var(--size);
    height:4px;
    background-color: #ff0000;
    rotate: -45deg;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    box-shadow: red 0 0 10px;
  }
}

.circle-tile {
  background-color: black;
  pointer-events: none;
  .circle {
    width:calc(var(--size) - 16px);
    height:calc(var(--size) - 16px);
    border-radius: 50%;
    border:3px solid #0000ff;
    box-shadow: blue 0 0 10px;
    box-sizing: border-box;
    margin:auto;     
  }
}