:root {
  --size:120px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2px;
  gap: 2px;
  background-color: lightgreen;
}

#container > span {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

#container > span > button {
  width:var(--size);
  height:var(--size);
}

#container> span>button:hover {
  background-color: yellow;
  box-shadow: yellow 0 0 10px;
}